// @import (Google font urls here) //
// @import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700;800&display=swap');


html, body, #app {
	font-family: serif;
	line-height: 1.5;
}

h1 {
	font-family: 'Abril Fatface';
	font-size: 5em;
	color: black;
	line-height: 1.1;
	font-weight: 100;

	@include mobile {
		font-size: 32px;
	}
}

h2 {
	font-family: 'Raleway';
}

p {
	font-size: 16px;
}

@font-face {
	font-family: Abril Fatface;
	src: url('@/assets/fonts/AbrilFatface-Regular.woff2');
  }